<!-- Links to recipes controller -->
<h1>Recipes</h1>

<!-- Displays any error messages if inputs do not match requirement -->
<% if @message %>
  <h2><%= @message %></h2>
<% end %>

<!-- List recipes -->
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <a href="<%= @parent_path %>/recipes/<%= recipe.id %>"><%= recipe.name %></a>
      <a href="<%= "/recipes/#{recipe.id}/edit" %>"><button>Edit</button></a>
      <a href="<%= @recipes %>"><%= form_tag "/recipes/#{recipe.id}", {method: "delete", style: "display: inline;"} do %>
        <button type="submit">Delete</button>
      <% end %>
    </li>
  <% end %>
</ul>

<!-- if the back button is clicked, take the page back to it's parent, or home page if there isn't any more parent -->
<a href="<%= @parent_resource %>">Back</a>
